
/* reset básico*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão */
body {
    font-family: 'Roboto', sans-serif; /* Importar do Google Fonts */
    padding: 20px;
    background-color: #f9f9f9; /* fundo claro */
    color: #333; /* texto padrão */
}

/*Titulos principal*/
h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;

}
/* faixa do titulo*/
.faixa-titulo{
    width: 100%;
    background-color: rgb(153, 205, 208);
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

/* area de pesquisa de contato faixa*/
.area-pesquisa{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: lavender;

}
/* area de pesquisa formulario*/
.area-pesquisa form{
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 10px;
}
/* entrada da area de pesquisa*/
.area-pesquisa input{
    flex: 1;
    padding: 7px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* area pesquisa botão*/
.area-pesquisa button{
    padding: 7px;
    font-size: 1rem;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}


