
/* reset básico*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão */
body {
    font-family: 'Roboto', sans-serif; /* Importar do Google Fonts */
    padding: 20px;
    background-color: #f9f9f9; /* fundo claro */
    color: #333; /* texto padrão */
}