<!DOCTYPE html> <!-- Isso diz ao navegador que é um arquivo html-->
<html lang="pt-br"> <!--Define o idioma da pagina-->
<head>

    <meta charset="UTF-8" >
    <!-- define a largura rela do dispositivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <header class="faixa-titulo">
    <h1>Agenda de Contatos:</h1>
    </header>

    <!--Formulario de busca-->
    <section class="area-pesquisa">
    <form>
        <input type="text" placeholder="Buscar Contato">
        <button type="submit">🔍BUSCAR</button>
    </form>
    </section>
    <!-- Espaçõ reservado para o resultado de busca-->
     <section id="resultado-busca">
        <!-- Quando a logica for implementada os resultados aparecerão aqui-->
     </section>

    <h3> Adicionar novo contato</h2>
    <form id="form-contato">
        <label for="nome"> Nome: </label>
        <input type="text"id="nome" nome="nome">

        <label for="telefone"> Telefone: </label>
        <input type="tel" id="telefone" telefone="telefone">

        <label for="email"> E-mail: </label>
        <input type="email" id="email" email="email">

        <button type="submit"> Adicionar Contato </button>
    </form>
    <!--Espaço reservado para a mensagens-->
    <p id="mensagem"> </p>

    <h3> Lista de Contatos </h2>

    <!--Container com rolagem-->
    <div class="lista-contatos">
        <table id="agenda">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!--Aqui os contatos serão inseridos futuramente-->
            </tbody>

        </table>

    </div>

    <div id="detalhe-contatos" class="detalhe-contatos oculto">
        <h3> Detalhes do Contatos </h3>
        <p>Nome: <span id="nome-contato"></span></p>
        <p>Telefone: <span id="telefone-contato"></span></p>
        <p>E-mail: <span id="email-contato"></span></p>
        <button id="btn-excluir"> Excluir</button>
    </div>
    
    <h3>Detalhes Do Contato Selecionado.</h3>

    <table id="detalhe-contatos" style="display: none;">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Acões</th>
            </tr>
        </thead>
        <tbody>
            <!--Aqui os detalhes dos contatos aparecerão-->
        </tbody>

    </table>

        
    </form>

</body>
</html>