<!DOCTYPE html> <!-- Isso diz ao navegador que é um arquivo html-->
<html lang="pt-br"> <!--Define o idioma da pagina-->
<head>

    <meta charset="UTF-8" >
    <!-- define a largura rela do dispositivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <header class="faixa-titulo">
    <h1>Agenda:</h1>
    <div class="pesquisa">
    <label for="pesquisa">Pesquisa</label>
    <input type="text" name="pesquisa" placeholder="Nome do contato."
    </div>
    </header>
    <div class="principal">
        <div class="titulos">
            <h2>Adicionar Contato.</h2>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Nome completo">
            <label for="telefone">Telefone:</label>
            <input type="number" name="número" placeholder="Número de Telefone">
            <label for="E-mail">E-mail</label>
            <input type="email" name="email" placeholder="Email">

            <section class="lista-contatos">
                <h2>Lista De Contatos.</h2>

                <ol>
                    {% if contatos %}
                        {% for contato in contatos %}
                            <li>
                                <span><strong>Nome:</strong>{{ contato[1]}}</span>|
                                <span><strong>Telefone:</strong>{{contato[2]}}</span>|
                                <span><strong>E-mail:</strong>{{contato[3]}}</span>|
                                <span class="Acoes">
                                    <button class="btn-editar" data-id="{{contato[0]}}">Editar</button>
                                    <button class="btn-editar" data-id="{{contato[0]}}">Excluir</button>
                                    <button class="btn-editar" data-id="{{contato[0]}}">Detalhes</button>

                            </span>
                        </li>
                    {% endfor %}
                {% else %}
                        <li>Nenhum contato encontardo.</li>
                {% endif %}
            </ol>


        </section>



        </div>
    </div>

    