<!DOCTYPE html> <!-- Isso diz ao navegador que é um arquivo html-->
<html lang="pt-br"> <!--Define o idioma da pagina-->
<head>

    <meta charset="UTF-8" >
    <!-- define a largura rela do dispositivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de contatos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <header class="faixa-titulo">
    <h1>Agenda De Contatos.</h1>

    <div class="pesquisa">
    <label for="pesquisa">Pesquisa</label>
    <input type="text" id="area-input" name="pesquisa" placeholder="Nome do contato.">
    <button type="button" id="btn-pesquisar">pesquisar</button>
    </div>
    <p id="saida">Resultado aparecera aqui.</p>
    </header>



    <div class="principal">
        <div class="titulos">
            <h2>Adicionar Contato.</h2>

            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome completo" required>

            <label for="telefone">Telefone</label>
            <input type="text" id='telefone' name="telefone" placeholder="Número de Telefone">

            <label for="E-mail">email</label>
            <input type="email" id="email" name="email" placeholder="Email">

            <button id="btn-salvar" type="submit">Salvar</button>

            <!-- Botão para mostrar/esconder a lista -->
            <button id="btn-mostrar-lista">Mostrar Lista De Contatos</button>
            <!-- Container da lista, inicialmente escondido -->
            <div id="lista_contato" style="display: none;"></div>
            <ol id="ol-contatos">
                <!-- Os contatos serão inseridos aqui via JS -->
            </ol>
            <!-- Botão para carregar mais contatos -->
            <button id="btn-ver-mais" style="display: none;">Ver Mais</button>
        </div>
        <script>
            function mostrarLista(){

            }
        </script>
    </div>
    <!--Conectando com o arquivo javascript-->
    <script src="/static/script.js"></script>
</body>

    